{% set pageTitle = category %}
{% set pageDescription = 'Trusted source of social service resources in the state of Hawaiʻi' %}
{% set pageImage = '/logo.svg' %}

{% extends "_base.html" %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block main %}
{% set crumbs = [['/sitemap', 'Home'], ['/sitemap/categories', 'Categories']] %}
{% include "_breadcrumbs.html" %}

<h1>Category: {{ category }}</h1>
<h2>Programs</h2>
<ul>
  {% for program in programs %}
  <li>
    <a href="/search/{{ program.id }}">{{ program.title }}</a>
  </li>
  {% endfor %}
</ul>
<h2>Taxonomies</h2>
<ul>
  {% for taxonomy in taxonomies %}
  <li>
    <a href="/sitemap/taxonomies/{{ taxonomy.id }}">{{ taxonomy.Name }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}