{% set pageTitle = 'All Programs' %}
{% set pageDescription = 'Trusted source of social service resources in the state of Hawaiʻi' %}
{% set pageImage = '/logo.svg' %}

{% extends "_base.html" %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block main %}
{% set crumbs = [['/sitemap', 'Home']] %}
{% include "_breadcrumbs.html" %}

<h1>Programs</h1>

<ul>
  {% for program in programs %}
  <li><a href="/sitemap/programs/{{ program.id }}">{{ program.service_name }} at {{ program.location_name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}