{% set pageTitle = taxonomy.Name %}
{% set pageDescription = 'Trusted source of social service resources in the state of Hawaiʻi' %}
{% set pageImage = '/logo.svg' %}

{% extends "_base.html" %}

{% block header %}
{% include "_header.html" %}
{% endblock %}

{% block main %}
{% set crumbs = [['/sitemap', 'Home'], ['/sitemap/taxonomies', 'Taxonomies']] %}
{% include "_breadcrumbs.html" %}

<h1>Taxonomy: {{ taxonomy.Name }}</h1>

<p>{{ taxonomy.Definition__c }}</p>

<h2>Programs</h2>
<ul>
  {% for program in programs %}
  <li>
    <a href="/search/{{ program.id }}">{{ program.title }}</a>
  </li>
  {% endfor %}
</ul>

{% if programs.length === 0 %}
<p>No programs.</p>
{% endif %}
{% endblock %}